<html>
<header>
{{- template "style.tmpl" -}}
</header>
<body>
<h2>Findings for {{ .VersionStr }}:</h2>
{{- if .Findings.Totals.TotalCaps -}}
<details>
    <summary>Capabilities</summary>
    <div style="padding-left: 1ch">
        {{- template "capabilities.tmpl" .Findings -}}
    </div>
</details>
{{- end -}}
{{- if .Findings.Totals.TotalIssues -}}
<details>
    <summary>Linter Issues</summary>
    <div style="padding-left: 1ch">
        {{- template "linter-issues.tmpl" .Findings -}}
    </div>
</details>
{{- end -}}
{{- template "totals.tmpl" .Findings.Totals -}}
</body>
</html>
