<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h3>Findings for {{ .VersionStr }}:</h3>
{{- if not (len .Caps) -}}
<p>No capabilities were found</p>
{{- else -}}
<details>
    <summary>Capabilities</summary>
    <div style="padding-left: 1ch">
        {{- range $cap_name, $caps := .Caps -}}
            <details><summary>{{ $cap_name }} ({{ len $caps }})</summary>
            {{- $capsByPkg := getCapsByPkg $caps -}}
            {{- range $pkg, $pkgCaps := $capsByPkg -}}
                <div style="padding-left: 2ch">
                    {{- $capsByFinalCall := getCapsByFinalCall $pkgCaps -}}
                    {{- $summarizePkg := or (gt (len $capsByPkg) 1) (gt (len $capsByFinalCall) 10) -}}
                    {{- if $summarizePkg -}}
                    <details><summary>{{ $pkg }} ({{ len $pkgCaps }})</summary>
                    {{- else -}}
                    <p style="margin: 0">{{ $pkg }}</p>
                    {{- end -}}
                        {{- range $finalCall, $finalCallCaps := $capsByFinalCall -}}
                            <div style="padding-left: 1ch">
                                {{- $summarizeCall := gt (len $finalCallCaps) 5 -}}
                                {{- if $summarizeCall -}}
                                <details><summary>{{ $finalCall }} ({{ len $finalCallCaps }})</summary>
                                {{- else -}}
                                <p style="margin: 0">{{ $finalCall }}</p>
                                {{- end -}}
                                    <ul style="margin: 0">
                                        {{- range $_, $cap := $finalCallCaps -}}
                                            <li style="margin: 4px"><p style="margin: 0">
                                                {{- range $i, $call := $cap.Path -}}
                                                    {{- if ne $i 0 -}}
                                                        &nbsp;&nbsp;
                                                        {{- if $call.Site.Filename -}}
                                                            <a href="{{ capPosToURL $call (getPrevCallName $cap.Path $i) }}" target="_blank"
                                                                rel="noopener noreferrer">{{ $call.Site.Filename }}:{{ $call.Site.Line }}</a>:&nbsp;
                                                        {{- end -}}
                                                    {{- end -}}
                                                    {{ $call.Name }}{{ if eq $i 0 }} ({{ capType $cap.CapabilityType }}){{ end }}<br>
                                                {{- end -}}
                                            </p></li>
                                        {{- end -}}
                                    </ul>
                                {{- if $summarizeCall -}}
                                </details>
                                {{- end -}}
                            </div>
                        {{- end -}}
                        {{- if $summarizePkg -}}
                    </details>
                    {{- end -}}
                </div>
            {{- end -}}
            </details>  
        {{- end -}}
    </div>
</details>
{{- end -}}

{{- if not (len .IssuePkgs) -}}
<p>No linter issues were found</p>
{{- else -}}
<details>
    <summary>Linter Issues</summary>
    <div style="padding-left: 1ch">
        {{- range $pkg, $pkgIssues := .IssuePkgs -}}
            {{- if gt (len $pkgIssues) 1 -}}
            <details><summary>{{ $pkg }} ({{ len $pkgIssues }})</summary>
            {{- else -}}
            <p style="margin: 0">{{ $pkg }}</p>
            {{- end -}}
            {{- range $linter, $linterIssues := getIssuesByLinter $pkgIssues -}}
                <div style="padding-left: 3ch">
                    {{- if gt (len $linterIssues) 10 -}}
                    <details><summary>{{ $linter }} ({{ len $linterIssues }})</summary>
                    {{- else -}}
                    <p style="margin: 0">{{ $linter }}</p>
                    {{- end -}}
                    <ul style="margin: 0">
                        {{- range $_, $issue := $linterIssues -}}
                        <li style="margin: 1ch"><p style="margin: 0">
                            <a href="{{ issuePosToURL $issue.Pos }}" target="_blank"
                                rel="noopener noreferrer">{{ $issue.Pos.Filename }}:{{ $issue.Pos.Line }}</a>:
                            {{ $issue.Text }}
                            </p></li>
                        {{- end -}}
                    </ul>
                    {{- if gt (len $linterIssues) 10 -}}
                    </details>
                    {{- end -}}
                </div>
                {{- end -}}
            {{- if gt (len $pkgIssues) 1 -}}
            </details>
            {{- end -}}
        {{- end -}}
    </div>
</details>
{{- end -}}
<h4>Totals:</h4>
<p>Total Capabilities: {{ .Totals.TotalCaps }}</p>
<table>
    <tr>
        <th>Capability name</th>
        <th>Capabilities found</th>
    </tr>
    {{- range $name, $count := .Totals.Caps -}}
    <tr>
        <td>{{ $name }}</td>
        <td>{{ $count }}</td>
    </tr>
    {{- end -}}
</table>
<p>Total Issues: {{ .Totals.TotalIssues }}</p>
<table>
    <tr>
        <th>Linter name</th>
        <th>Issues found</th>
    </tr>
    {{- range $name, $count := .Totals.Issues -}}
    <tr>
        <td>{{ $name }}</td>
        <td>{{ $count }}</td>
    </tr>
    {{- end -}}
</table>
</body>
</html>
