<p>Capabilities: {{ .TotalCaps }}</p>
<table>
    <tr>
        <th>Capability name</th>
        <th>Capabilities found</th>
    </tr>
    {{- range $name, $count := .Caps -}}
    <tr>
        <td>{{ $name }}</td>
        <td>{{ $count }}{{ if $.HasDeltas }} ({{ formatDelta (index $.CapDeltas $name) }}){{ end }}</td>
    </tr>
    {{- end -}}
</table>
<p>Issues: {{ .TotalIssues }}</p>
<table>
    <tr>
        <th>Linter name</th>
        <th>Issues found</th>
    </tr>
    {{- range $name, $count := .Issues -}}
    <tr>
        <td>{{ $name }}</td>
        <td>{{ $count }}{{ if $.HasDeltas }} ({{ formatDelta (index $.IssueDeltas $name) }}){{ end }}</td>
    </tr>
    {{- end -}}
</table>
